<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<!--为了让主页看起来更舒服一点，我这里直接抽取了主页的所有功能-->
<!--顶边栏-->
<div class="layui-header"   th:fragment="topbar">
    <div class="layui-logo">zsp网盘</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left   "   >
        <li class="layui-nav-item"><a th:href="@{/user/home}">网盘</a></li>
        <li class="layui-nav-item"><a th:href="@{/user/uploadPage}" >多文件上传</a></li>
        <li class="layui-nav-item"><a th:href="@{/user/notice}">更新公告</a></li>
        <li class="layui-nav-item"><a href="javascript:;">更多</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">邮件管理</a>
                </dd>
                <dd>
                    <a href="">消息管理</a>
                </dd>
                <dd>
                    <a href="">授权管理</a>
                </dd>
            </dl></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="javascript:;" th:text="${session.user.getNickname()}"></a>
            <dl class="layui-nav-child">
                <dd>
                    <a th:href="@{/user/information}">基本资料</a>
                </dd>
                <dd>
                    <a th:href="@{/user/safeInformation}">安全设置</a>
                </dd>
                <dd>
                    <a th:href="@{/user/changePassword}">修改密码</a>
                </dd>
            </dl></li>
        <li class="layui-nav-item"><a th:href="@{/user/logout}">退出登录</a></li>
    </ul>
</div>
<!--侧边栏-->
<div class="layui-side layui-bg-black" th:fragment="sidebar">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"   lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" th:href="@{/user/home}">全部文件</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/user/home/photos}">图片</a>
                    </dd>
                    <dd>
                        <a th:href="@{/user/home/document}">文档</a>
                    </dd>
                    <dd>
                        <a th:href="@{/user/home/video}">视频</a>
                    </dd>
                    <dd>
                        <a th:href="@{/user/home/music}">音乐</a>
                    </dd>
                    <dd>
                        <a th:href="@{/user/home/bt}">种子</a>
                    </dd>
                    <dd>
                        <a th:href="@{/user/home/compressed}">压缩文件</a>
                    </dd>

                    <dd>
                        <a th:href="@{/user/home}">其他</a>
                    </dd>
                    <dd>
                        <a  th:href="@{/user/home/recycle}">回收站</a>
                    </dd>
                </dl></li>
            <li class="layui-nav-item"><a href="javascript:;">更多功能</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;">结识云盘好友</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">推荐好友</a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item"><a href="">会员中心</a></li>
        </ul>
    </div>
</div>
<!--底部的声明-->
<div class="layui-footer" th:fragment="footbar">
    <!-- 底部固定区域 -->
    朱少鹏有限公司 版权所有©2020-2200 技术支持电话：15396226187       <a  href="http://beian.miit.gov.cn" style="color:black;">ICP备案号:闽ICP备2020019933号-1</a>
</div>
<!--文件列表的展示-->
<div th:fragment="list">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>全部文件</legend>
    </fieldset>
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="500">
            <col width="300">
            <col width="300">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>文件名</th>
            <th>文件大小</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userFolder:${userFolders}">
<!--            parentId就是这个文件夹的当前id-->
            <td><a  th:href="@{/user/home/{parentId}/(parentId=${userFolder.getFolderId()})} " th:text="${userFolder.getFolderName()} "></a></td>
            <td>-</td>
            <td th:text="${#dates.format(userFolder.getModifyTime())}"></td>
            <td>
                <a th:href="@{/user/home/{parentId}/(parentId=${userFolder.getFolderId()})} "><button type="button" class="layui-btn   layui-btn-radius layui-btn-primary"  >进入</button></a>
                <a  th:href="@{/user/deleteFolder/{folderId}/(folderId=${userFolder.getFolderId()})} " onclick="if(confirm('确定删除这个文件夹吗？【7天内可以在回收站内找回】')==false)return false;"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius">删除</button></a>

            </td>
        </tr>

        <tr th:each="userFile:${userFiles}">
            <td><a th:text="${userFile.getFileName()} "  th:href="@{/user/download/{originId}/(originId=${userFile.getOriginId()})}"></a></td>
            <!--                    <td th:text="${fileSize.get(userFile.getFileId())}"></td>-->
            <td th:text="${fileSize.get(userFile.getFileId())}">
            <td th:text="${#dates.format(userFile.getModifyTime())}"></td>
            <td>
              <a th:href="@{/user/download/{originId}/(originId=${userFile.getOriginId()})}"> <button type="button" class="layui-btn layui-btn-normal layui-btn-radius"  >下载</button></a>

                <a  th:href="@{/user/deleteFile/{fileId}/(fileId=${userFile.getFileId()})}" onclick="if(confirm('确定删除这个文件吗？【7天内可以在回收站内找回】')==false)return false;"><button type="button" class="layui-btn layui-btn-danger layui-btn-radius">删除</button></a>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<!--功能按键的抽取-->
<div th:fragment="function">
<!--    添加文件-->
    <button type="button" class="layui-btn layui-btn-normal" id="addFile">
        <i class="layui-icon">&#xe67c;</i>添加文件
    </button>
<!--    上传文件-->
    <button type="button" class="layui-btn layui-btn-normal" id="upload">
        <i class="layui-icon">&#xe67c;</i>上传</button>
<!--    新建文件夹-->
    <button type="button" class="layui-btn layui-btn-primary" id="newFolder"  >
        新建文件夹
    </button>

    <button type="button" class="layui-btn layui-btn-primary"    th:onclick="backPage()"   th:if="${session.uploadId != 0}">
        返回上级
    </button>
    <button type="button" class="layui-btn layui-btn-primary " id="" th:onclick="backHome()" th:if="${session.uploadId != 0}" >
        首页
    </button>
<!--    查找功能-->
    <form class="form-inline" style="float: right" th:action="@{/user/queryFileName}" method="get">

        <input class="input-medium search-query" name="fileName" type="text" style="height: 33px;width: 350px">
        <button type="submit"class="layui-btn layui-btn-sm layui-btn-normal" contenteditable="true">查找</button>
    </form>



            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgressBar"  style="margin-top: 20px;" >
            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
            </div>

<!--    进度条-->


    <script th:src="@{/layui/layui.js}"></script>

    <script>
        // 绑定上传文件功能
        layui.use(["layer","form", "upload","jquery","element"], function () {
            // 注意：为了动态显示进度条，必须加载element组件
            var layer = layui.layer, upload = layui.upload, $ = layui.jquery, element = layui.element;

            upload.render({
                accept : "file",
                elem : "#addFile",
                auto : false,   //关闭文件自动上传
                bindAction : "#upload", //文件上传触发按钮
                url : "/user/upload",

                progress:function(value){//上传进度回调 value进度值
                    element.progress('uploadProgressBar', value+'%')//设置页面进度条

                },
                before : function (obj) {
                    // this.data={'uri':window.location.href};//关键代码

                },
                done : function (res, index, upload) {
                    if(res.code != 200){
                        layer.open({
                            icon : 2,
                            skin : "layui-layer-molv",
                            content : res.msg
                        });
                    }else
                    {
                        window.location.reload();
                    }
                },
                error : function (res) {

                }
            });


        });

        // 绑定新建文件夹按钮
        layui.use('layer', function() { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            $('#newFolder').on('click', function(){
                layer.open({
                    id:1,
                    type: 1,
                    title:'新建文件夹',
                    skin:'layui-layer-rim',
                    area:['300px', '220px'],

                    content: ' <div class="row" style="width: 200px;  margin-left:60px; margin-top:40px;">'
                        +'<div class="col-sm-12">'
                        +'<div class="input-group">'
                        +'<span class="input-group-addon icon-align-centers"  > 文件夹名  :</span>'
                        +'<input id="fileName" type="text" class="form-control" placeholder="">'
                        +'</div>'
                        +'</div>'
                        +'</div>'
                    ,

                    btn:['保存','取消'],
                    btn1: function (index,layro) {
                        var fileName=$('#fileName').val();
                        $.ajax({
                            type : "POST",
                            url :"/user/newFolder",
                            dataType:"json",
                            async: false,
                            data:{
                                "fileName":fileName
                            },
                            success: function(data) {
                                if (data.code == 200) {

                                    alert(200);
                                }
                            }

                        });


                        layer.close(index);
                        window.location.reload();


                        // parent.location.reload();
                    },
                    btn2:function (index,layero) {
                        layer.close(index);
                    }

                });
            });
        });

        // 返回按钮
        function backPage() {
            window.location.href="/user/backPage";
        }
        // 返回首页按钮
        function backHome() {
            window.location.href="/user/home";
        }


    </script>



</div>

</html>