<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>安全信息修改</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{comments/comment.html::topbar}"></div>

    <div th:replace="~{comments/comment.html::sidebar}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>安全信息</legend>
        </fieldset>
        <form class="layui-form" th:action="@{/user/toSubmitPrivate}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">是否开启私密空间</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="privateStatus" lay-skin="switch" lay-text="ON|OFF" th:checked="${session.user.getPrivateStatus()==1}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">私密空间密码</label>
                <div class="layui-input-block">
                    <input type="password" name="privatePass1" lay-verify="title" autocomplete="off"   class="layui-input" style="width: 40%"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="privatePass2" lay-verify="title" autocomplete="off"   class="layui-input" style="width: 40%"  >
                </div>

                <p th:text="${error}" style="color: red"></p>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>

                </div>
            </div>


        </form>
    </div>

    <div th:replace="~{comments/comment.html::footbar}"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });
    layui.use('form', function(){

        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
    });

</script>

</body>
</html>