<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.mapper.UserFolderMapper">
<select id="queryByUserId" resultType="UserFolder" >
    select * from user_folder where user_id=#{userId} and parent_id=0
</select>
<select id="queryByParentId"   resultType="userFolder"  >
    select * from user_folder  where user_id=#{userId} and parent_id=#{parentId}
</select>
    <select id="queryByFolderName"   resultType="userFolder"    >
    select * from user_folder  where user_id=#{userId} and folder_name=#{folderName}
</select>
</mapper>